/*estilo leandro index*/
/*reciclar solo losgos y imagenes de usuario
canasta y la barra de animales*/
.logo{
    background-color: rgb(0, 0, 0);
    margin-top: 1%;
    padding:1%;
    margin-right: 82%;

}
#nom_logo{
    background-color: rgb(250, 9, 218);
    color: aliceblue;
    margin-top: 1%;
    padding:1%;
    margin-right: 82%;
}

.animales{
    background-color: rgb(0, 0, 0);
    padding: 1%;
    background-color: rgb(250, 9, 218);
    margin-top: -22%;
    margin-left: 20%;
    margin-right: 5%;
  
}
.barra_animales{
    background-color: rgb(0, 0, 0);
    padding:1%;
    padding-top: 1%;
    margin-top: -5%;
    margin-left: 25%;
    margin-right: 23%;
}

.parrafo{
    text-align: center;
    color: rgb(4, 4, 4);
    background-color: rgba(24, 193, 219, 0.464);
    margin: 3%;
}

.carr{
    background-color: rgba(61, 198, 219, 0.464);
    margin-top: 2%;
    margin: 3%;

}
.img_carrucel{
      margin-left: 17%;
      margin-top: 5%;
      
}
.boton_imagencarr{
    margin-left:46% ;
    margin-top: -3%;
}

.container_inferior{
    color: rgb(7, 7, 7);
    background-color: rgb(10, 10, 10);
    text-align: center;
    padding-top: -2%;
    margin-top: 4%;
  
}


/* este estilo se ulilizara para con el container de busqueda
así quedara en buena posición*/
.busqueda{

    padding-top: -6%;
    padding-left:60%;
    margin-top: -6%;
    margin-left: 20%;
    margin-right: 2%;
    background-color: rgb(0, 0, 0);
}
/*estilos sergio*/

