{% extends 'app/base.html' %}
{% load static %}
{% load crispy_forms_tags%}

{% block img %}
<div class="">
    <div class="col-12">
        <img src="{% static 'app/Img/perrioMejorado.svg' %}" style="max-width: 100%;">
    </div>
</div>
{% endblock %}

{% block contenido %}



<div class="container-fluid row" >
    <div class=" row ">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-5 m-3 p-3 border shadow rounded" id="bglistado">
            <div class="container mt-3">
                <h4>Agregar Productos</h4>
                <hr>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
    
    
                    <input type="submit" value="Guardar" class="btn btn-outline-success btn-block mt-4">
                </form>

            </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
</div>

{% endblock contenido %}